{% extends 'base.html' %}
{% block title %}Dados dos Certificados{% endblock %}
{% block class_cadastro_menu %}active{% endblock %}
{% block class_dados_certificado_item %}collapsible-header active{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">Dados dos Certificados</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header grey lighten-1">
            <strong>DADOS DOS CERTIFICADOS</strong>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col-sm-9">
                    <div class="md-form md-outline">
                        <input id="myInput" type="text" class="form-control" autofocus placeholder="Digite para pesquisar"/>
                        <label for="myInput" class="active">Pesquisar</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <a class="float-right btn success-color white-text btn-rounded" href="{% url 'dados_certificados_importar' %}"><i class="fa fa-download mr-1"></i>Importar Dados</a>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Certificado</th>
                        <th scope="col">Elemento</th>
                        <th scope="col" style="text-align: right">Concentração</th>
                        <th scope="col" style="text-align: right">Incerteza Expandida</th>
                        <th scope="col" style="text-align: right">Fração de Massa</th>
                        <th scope="col" style="text-align: right">Unidade da Fração</th>
{#                        <th scope="col" style="text-align: right; width: 8%">Ações</th>#}
                    </tr>
                    </thead>
                    <tbody id="myTable">
                    {% for dados in dados_certificados %}
                        <tr>
                            <td>{{ dados.certificado }}</td>
                            <td>{{ dados.elemento }}</td>
                            <td style="text-align: right">{{ dados.concentracao }}</td>
                            <td style="text-align: right">{{ dados.incerteza_expandida }}</td>
                            <td style="text-align: right">{{ dados.fracao_massa }}</td>
                            <td style="text-align: right">{{ dados.get_tipo_fracao_massa_display }}</td>
{#                            <td style="text-align: right; width: 8%">#}
{#                                <a href="#"><i class="fas fa-pencil-alt mr-1 orange-text"></i></a>#}
{#                                <a data-toggle="modal" href="#Excluir"><i class="fas fa-trash mr-1 red-text"></i></a>#}
{#                            </td>#}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6" class="alert alert-warning">Não há dados de certificados cadastrados</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}