{% extends 'base.html' %}
{% block title %}Elementos{% endblock %}
{% block class_cadastro_menu %}active{% endblock %}
{% block class_elemento_item %}collapsible-header active{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">Elementos</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header grey lighten-1">
            <strong>ELEMENTOS</strong>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col-sm-10">
                    <div class="md-form md-outline">
                        <input id="myInput" type="text" class="form-control form-control-sm" autofocus placeholder="Digite para pesquisar"/>
                        <label for="myInput" class="active">Pesquisar</label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <a class="float-right btn primary-color-dark white-text btn-rounded" href="">Adicionar</a>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Descrição</th>
                        <th scope="col">Símbolo</th>
                        <th scope="col" style="text-align: right; width: 8%">Ações</th>
                    </tr>
                    </thead>
                    <tbody id="myTable">
                    {% for elemento in elementos %}
                        <tr>
                            <td>{{ elemento.descricao }}</td>
                            <td>{{ elemento.simbolo }}</td>
                            <td style="text-align: right; width: 8%">
                                <a href="#"><i class="fas fa-pencil-alt mr-1 orange-text"></i></a>
                                <a data-toggle="modal" href="#Excluir"><i class="fas fa-trash mr-1 red-text"></i></a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="alert alert-warning">Não há elementos cadastrados</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}