{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <!-- Section: Features v.1 -->
    <section id="projeto"
             class="section feature-box wow fadeIn text-center {% if not request.user.is_authenticated %}mt-4 py-5{% endif %}"
             data-wow-delay="0.3s">
        <!--Section heading-->
        <h1 class="indigo-text font-weight-bold">Projeto</h1>
        <!--Section description-->
        <p class="px-5 mb-5 pb-3 lead grey-text">O constante avanço de estudos científicos, nas mais variadas áreas
            do conhecimento, proporcionam cada vez mais informações que precisam ser geridas de forma eficiente e
            eficaz, o que não pode ser proporcionado pela gestão manual dessas informações. Concomitante a esse
            avanço, tem-se a informática como papel fundamental para tais conquistas, em especial o gerenciamento de
            informações e automatização de processos</p>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <i class="fa fa-book fa-3x red-text"></i>
                <h5 class="font-weight-bold mt-3">Objetivos</h5>
                <p class="grey-text">Desenvolver e implementar um software web para a calibração da eficiência
                    absoluta de um detector do tipo HPGe
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <i class="fa fa-magic fa-3x green-text"></i>
                <h5 class="font-weight-bold mt-3">Metodologia</h5>
                <p class="grey-text">Desenvolvimento web, baseado no paradigma de orientação a objetos, com
                    uso da linguagem de programação Python, em conjunto com o framework Django<br>

                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <i class="fa fa-users fa-3x cyan-text"></i>
                <h5 class="font-weight-bold mt-3">Autores</h5>
                <p class="grey-text text-left">Acadêmico: Gean Batista de Lima<br>
                    Orientador: Dr. Edson
                </p>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        {#        </section>#}
        {#        <!-- Section: Features v.1 -->#}
        {##}
        {##}
        {#        <!-- Section: Features v.1 -->#}
        {#        <section class="section feature-box wow fadeIn my-5" data-wow-delay="0.3s">#}

        <!--Grid row-->
        <div class="row mb-4">

            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <i class="fas fa-graduation-cap fa-3x purple-text"></i>
                <h5 class="font-weight-bold mt-3">IPEN</h5>
                <p class="grey-text">Trabalho desenvolvido no Instituto de Pesquisas Energéticas e Nucleares - IPEN
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <i class="far fa-building fa-3x cyan-text"></i>
                <h5 class="font-weight-bold mt-3">IFRO</h5>
                <p class="grey-text">Fomento ao desenvolvimento pelo Instituto Federal de Educação, Ciência e
                    Tecnologia de Rondônia
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <i class="far fa-handshake fa-3x orange-text"></i>
                <h5 class="font-weight-bold mt-3">Cooperação</h5>
                <p class="grey-text">Termo de Cooperação firmado entre o IPEN (Instituto de Pesquisas Energéticas e
                    Nucleares) e o IFRO (Instituto Federal de
                    Rondônia)
                </p>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!-- Section: Features v.1 -->
{% endblock %}