{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <!-- Section: Features v.1 -->
    <section id="projeto"
             class="section feature-box wow fadeIn text-center {% if not request.user.is_authenticated %}mt-4 py-5{% endif %}"
             data-wow-delay="0.3s">
        <!--Section heading-->
        <h1 class="indigo-text font-weight-bold text-uppercase mb-4">Índice z: ferramenta para a garantia da qualidade de resultados
            analíticos em análise por ativação neutrônica</h1>
        <!--Section description-->
        <p class="px-5 mb-5 pb-3 lead grey-text">Qual método estatístico utilizar é essencial para a interpretação dos
            resultados de qualquer processo de medição, entretanto não existe um procedimento que descreva com precisão
            as estratégias a serem aplicadas em cada caso. Critérios estatísticos diferentes podem afetar, dependendo do
            propósito, desde a determinação do valor designado até o comprometimento da avalição de desempenho do
            laboratório. Dessa forma, com a utilização do método correto, conhecendo processo de obtenção de dados é
            possível facilitar a compreensão e análise, mesmo quando alguns valores não correspondem com os padrões ou
            métricas estabelecidas em normas de ensaios de proficiência, podendo até mesmo impossibilitar o uso das
            informações</p>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <i class="fa fa-book fa-3x red-text"></i>
                <h5 class="font-weight-bold mt-3">Objetivo</h5>
                <p class="grey-text">Realizar análise crítica da maneira pela qual os MRCs são utilizados para a
                    avaliação da exatidão em Análise por Ativação Neutrônica Instrumental (INAA) nos trabalhos
                    desenvolvidos no Laboratório de Análise por Ativação (LAN) do Centro do Reator de Pesquisas (CRPq)
                    do Instituto de Pesquisas Energéticas e Nucleares (IPEN - CNEN/SP).
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <i class="fa fa-magic fa-3x green-text"></i>
                <h5 class="font-weight-bold mt-3">Metodologia</h5>
                <p class="grey-text">Levantamento das informações de controle de qualidade e
                    recálculo dos valores de <i>índice z</i> para comparação e avaliação da evolução da qualidade
                    analítica do LAN para os diversos
                    elementos químicos analisados<br>

                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <i class="fa fa-users fa-3x cyan-text"></i>
                <h5 class="font-weight-bold mt-3">Autores</h5>
                <p class="grey-text">Acadêmico: Gean Batista de Lima<br>
                    Orientador: Dr. Edson Gonçalves Moreira
                </p>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row mb-4">

            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <i class="fas fa-graduation-cap fa-3x purple-text"></i>
                <h5 class="font-weight-bold mt-3">IPEN</h5>
                <p class="grey-text">Trabalho desenvolvido no Instituto de Pesquisas Energéticas e Nucleares - IPEN
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <i class="far fa-building fa-3x cyan-text"></i>
                <h5 class="font-weight-bold mt-3">IFRO</h5>
                <p class="grey-text">Fomento ao desenvolvimento pelo Instituto Federal de Educação, Ciência e
                    Tecnologia de Rondônia
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <i class="far fa-handshake fa-3x orange-text"></i>
                <h5 class="font-weight-bold mt-3">Cooperação</h5>
                <p class="grey-text">Termo de Cooperação firmado entre o IPEN (Instituto de Pesquisas Energéticas e
                    Nucleares) e o IFRO (Instituto Federal de
                    Rondônia)
                </p>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!-- Section: Features v.1 -->
{% endblock %}