{% extends 'base.html' %}
{% block title %}Projetos{% endblock %}
{% block class_cadastro_menu %}active{% endblock %}
{% block class_projeto_item %}collapsible-header active{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">Projetos</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header grey lighten-1">
            <strong>PROJETOS</strong>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col-sm-10">
                    <div class="md-form md-outline">
                        <input id="myInput" type="text" class="form-control" autofocus placeholder="Digite para pesquisar"/>
                        <label for="myInput" class="active">Pesquisar</label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <a class="float-right btn primary-color-dark white-text btn-rounded" href="{% url 'projeto_new' %}"><i class="fas fa-plus-circle"></i> Adicionar</a>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Descrição</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Data de Início</th>
                        <th scope="col">Situação</th>
                        <th scope="col" style="text-align: right; width: 8%">Ações</th>
                    </tr>
                    </thead>
                    <tbody id="myTable">
                    {% for projeto in projetos %}
                        <tr>
                            <td>{{ projeto.descricao }}</td>
                            <td>{{ projeto.autor }}</td>
                            <td>{{ projeto.data_inicio|date:'d/m/Y' }}</td>
                            <td>{{ projeto.get_situacao_display }}</td>
                            <td style="text-align: right; width: 10%">
                                <a href="{% url 'projeto_visualizar' projeto.id %}"><i class="fas fa-search mr-1 blue-text" data-toggle="tooltip" title="Visualizar"></i></a>
                                <a href="{% url 'projeto_importar' projeto.id %}"><i class="fas fa-download mr-1 green-text" data-toggle="tooltip" title="Importar"></i></a>
                                <a href="{% url 'projeto_edit' projeto.id %}" data-toggle="tooltip" title="Editar"><i class="fas fa-pencil-alt mr-1 orange-text"></i></a>
                                <a data-toggle="modal" href="#Excluir{{ projeto.id }}"><i class="fas fa-trash mr-1 red-text" data-toggle="tooltip" title="Excluir"></i></a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="alert alert-warning">Não há projetos cadastrados</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
    {% for projeto in projetos %}
        <!--Modal EXCLUIR-->
        <div class="modal fade" id="Excluir{{ projeto.id }}" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-notify modal-danger" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header text-center">
                        <h4 class="heading lead">Excluir</h4>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>
                    <form action="{% url 'projeto_delete' projeto.id %}" method="POST">
                        <!--Body-->
                        <div class="modal-body text-center">
                            {% csrf_token %}
                            Tem certeza que deseja excluir?
                        </div>
                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                            <button type="submit" class="btn btn-danger waves-effect">Confirmar
                            </button>
                            <a type="button" class="btn btn-outline-danger waves-effect"
                               data-dismiss="modal">Voltar</a>
                        </div>
                    </form>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Fim Modal EXCLUIR-->
    {% endfor %}
{% endblock %}